@model MyFace.Web.Models.AddMonitorViewModel
@{
    ViewData["Title"] = "Add Monitor";
}
<h1>Add Monitor</h1>
<form asp-action="Add" method="post">
    <label asp-for="OnionUrl"></label>
    <input asp-for="OnionUrl" class="input" />
    <span asp-validation-for="OnionUrl"></span>

    <!-- Only onion URL is needed for OnionStatus -->

    <div class="form-actions">
        <button type="submit" class="button">Add</button>
    </div>
</form>
