@using System.Linq
@model IEnumerable<MyFace.Core.Entities.PostImage>
@{
    var images = Model?.OrderBy(i => i.DisplayOrder).ToList() ?? new List<MyFace.Core.Entities.PostImage>();
}
@if (!images.Any())
{
    return;
}
<div class="post-image-gallery" aria-label="Attached images">
    @foreach (var image in images)
    {
        var thumbnail = string.IsNullOrWhiteSpace(image.ThumbnailPath)
            ? image.OriginalPath
            : image.ThumbnailPath;
        <a href="@image.OriginalPath" target="_blank" rel="noopener" class="post-image-frame">
            <img src="@thumbnail" alt="Attachment preview" loading="lazy" />
        </a>
    }
</div>
