@using MyFace.Core.Entities
@using MyFace.Web.Models.ProfileTemplates
@model TemplateRenderViewModel

<div class="template-card template-minimal" data-template="minimal">
    <div class="template-panels">
        @await Html.PartialAsync("~/Views/ProfileDisplay/Templates/_PanelCard.cshtml", new TemplatePanelCardModel("About", Model.GetPanel(ProfilePanelType.About), "🌙", true))
        @await Html.PartialAsync("~/Views/ProfileDisplay/Templates/_PanelCard.cshtml", new TemplatePanelCardModel("Contact", Model.GetPanel(ProfilePanelType.Contact), "✉️"))
    </div>
</div>
